body{
	margin: 0;
}

.header-wrap{
    position: absolute;
    width: 100%;
    height: 800px;
	top: 0;
	left: 0;
    background-size: cover;
    /*overflow: hidden;*/
    top: 0;
    left: 0;
}

.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
   /* overflow: hidden;*/
}

.content{
	position: absolute;
    top: 0;
    left: 0;
    height: 800px;
    width: 100%;
    /*overflow: hidden;*/
	background-color: rgba(0,0,0,0.5);
}

.content-wrap{
    position: absolute;
    width: 960px;
    height: 700px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    /*overflow: hidden;*/
    text-align: center;
    font-family: 'Montserrat';
    /*border: 1px solid red;*/
}

.logo{
    float: left;
}

/*
* Navigation
*/

.nav-wrap{
    position: absolute;
    float: right;
    width: 600px;
    height: 50px;
    margin-left: 363px;
    margin-top: 50px;
    /*border: 1px solid red;*/
    font-family: 'Helvetica';
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 1px;
}

.nav{
    list-style: none;
}

.nav li{
    display: inline-block;
}

.nav li a {
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
}

.nav a:hover{
    color: #00aa9e;
}

.nav li:last-child a:hover{
    color: #E6F1F6;
}

.nav li:first-child a{
    color: #00aa9e;
}

.nav li:last-child{
    background-color: #00aa9e;
    padding: 10px;
    margin-right: 0px;
    border: 1px solid #00aa9e;
    border-radius: 30px;
}

/*
* Banner
*/

.banner{
    position: absolute;
    width: 600px;
    height: 180px;
    /*border: 1px solid red;*/
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Montserrat';
    text-align: center;
}

.banner h1{
    color: #ffffff;
    font-size: 44px;
    letter-spacing: 2px;
    font-weight: 400;
}

.banner h2{
    color: #00aa9e;
    font-weight: normal;
    font-size: 24px;
}

.with-border{
    border-bottom: 4px solid #00aa9e;
    width: 40px;
    margin-bottom: 10px;
    margin-right: 270px;
    margin-left: 270px;
}

.btn-circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #00aa9e;
    border: none;
    font-size: 20px;
    color: #fff;
}

.btn-cir{
    width: 50px;
    width: 100px;
    margin-top: 280px;
    margin-left: 240px;
}

/*
** Discover Text
*/

.discover-wrap{
    height: 1200px;
    background-color: #493627;
    overflow: hidden;

}

.discover-content{
    position: absolute;
    float:left;
    width: 960px;
    height: 300px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 850px;
    /*border: 1px solid red;*/
}

.discover-text{
    display: inline-block;
    width: 700px;
    height: 300px;
    margin: 0;
    text-align: justify;
    font-family: 'Montserrat';
    /*border: 1px solid red;*/
}

.discover-text h5, h2{
    color: #00aa9e;
    margin: 0px;
}

.discover-text h5{
    font-weight: 100;
    letter-spacing: 1px;
}

.discover-text h2{
    font-weight: normal;
}

.discover-text p{
    font-family: 'Helvetica';
    color: #ffffff;
    font-size: 14px;
    font-weight: 100;
}

.discover-content .light-text{
    font-size: normal;
    color: #eaeaea;
}

.date-forms{
    display: inline-block;
    float: right;
    width: 250px;
    height: 300px;
    font-family: 'Helvetica';
    font-size: 14px;
    /*border: 1px solid red;*/
}

.date-content{
    width: 200px;
    height: 300px;
    margin-top: 0;
    margin-left: 62px;
}

.date-content p{
    color: #eaeaea;
    font-weight: 100;
}

.date-forms .checkin{
    width: 180px;
    height: 30px;
}

.btn-book{
    margin-top: 10px;
    width: 185px;
    height: 35px;
    background-color: #00aa9e;
    color: #fff;
    border: none;
}

/*
* Image Slider
*/


.slider{
    overflow: hidden;
    height: 600px;
}

.slider figure div{
    width: 10%;
    float: left;
}

.slide figure img{
    height: 600px;
    width: 100%;
    float: left;
}

.slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slidy infinite;
}

@keyframes slidy{

0%{
    left: 0%;
}

10%{
    left: 0%;
}

12%{
    left: -100%;
}

22%{
    left: -100%;
}

24%{
    left: -200%;
}

34%{
    left: -200%;
}

36%{
    left: -300%;
}
46%{
    left: -300%;
}

48%{
    left: -400%;
}

58%{
    left: -400%;
}

60%{
    left: -300%;
}

78%{
    left: -300%;
}

72%{
    left: -200%;
}

82%{
    left: -200%;
}

84%{
    left: -100%;
}

94%{
    left: -100%;
}

96%{
    left: 0%;
}

}

/*
* Social feed
*/

.social-feed{
    height: 800px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
}

.feed-wrap{
    height: 500px;
    width: 960px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    font-family: 'Montserrat';
    /*border: 1px solid red;*/
    background-color: #f2f2f2;
}

.feed-wrap ul{
    list-style: none;
    font-family: 'Helvetica';
    font-size: 14px;
}

.feed-wrap h5, h2{
    margin: 0px;
    letter-spacing: 1px;
    color: #00aa9e;
}

.feed-wrap li a{
    text-decoration: none;
    color: #eaeaea;
    font-weight: 100;
    font-size: 12px;
}

/* Social-Feed Nav */

.feed-navwrap{
    width: 960px;
    height: 50px;
    margin: 0;
 /*   border: 1px solif2f2f2d black;*/
    margin-top: 40px;
    margin-bottom: 10px;
}

.feed-nav{
    margin-left: 0;
    padding-left: 0;
}

.feed-nav li{
    display: inline-block;
    margin: 0;
}

.feed-nav a:hover{
    color: #00aa9e;
}

.feed-nav li:nth-child(1) a{
    padding: 10px;
    padding-left: 71px;
    padding-right: 71px;
    background-color: #4b4b4b;
}

.feed-nav li:nth-child(2) a{
    padding: 10px;
    padding-left: 68px;
    padding-right: 68px;
    background-color: #4181ca;
}

.feed-nav li:nth-child(3) a{
    padding: 10px;
    padding-left: 68px;
    padding-right: 68px;
    background-color: #33b8f4;
}

.feed-nav li:nth-child(4) a{
    padding: 10px;
    padding-left: 68px;
    padding-right: 68px;
    background-color: #d74444;
}

.feed-nav li:nth-child(5) a{
    padding: 10px;
    padding-left: 68px;
    padding-right: 68px;
    background-color: #758e9a;
}

.twitter1-feed{
    float: left;
}

.fb-feed{
    float: right;
}

/*
* GMAP
*/

#gmap{
    height: 400px;
    width: 100%;
}

.gmapp{
    height: 400px;
    width: 100%;
    overflow: hidden;
}

/*.map-contact{
    width: 200px;
    height: 200px;
}

.map-contact h5, h2{
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 100;
    color: #00aa9e;
}
.gmapp .map-contact p{
    font-family: 'Helvetica';
    font-size: 12px;
    font-weight: 100;
}*/

/*
* Footer
*/

.footer-wrap{
    height: 400px;
    width: 100%;
    background-color: #493627;
}

.footer-nav .logo{
    margin-left: 380px;
    margin-top: 50px;
    /*border: 1px solid black;*/
}

.footer-nav{
    width: 960px;
    margin-left: 250px;
    margin-right: 250px;
    height: 300px;
    border: 1px solid #493627;
}

.footer-nav .list-nav{
    list-style: none;
}

.list-nav a{
    text-decoration: none;
    color: #eaeaea;
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 12px;
}

.list-nav li{
    display: inline-block;
    padding: 5px;
    letter-spacing: 2px;
}

.list-nav a:hover{
    color: #00aa9e;
}

.navlist {
    margin-top: 160px;
    height: 50px;
    width: 600px;
   /* border: 1px solid black;*/
    padding: 5px;
    margin-left: 230px;
    letter-spacing: 1px;
}

.social-list{
    width: 400px;
    margin-left: 400px;
    margin-top: 30px;
}

.social-list ul li{
    display: inline-block;
    list-style: none;
}

.social-list p{
    font-family: 'Helvetica';
    font-weight: 200;
    font-size: 14px;
    color: #eaeaea;
    letter-spacing: 1px;
}